* {
	margin: 0;
	padding: 0;
}


body {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color:#2B334A;
    
	
}
h1{
    color:#C2C5C8;
}

#t1 { 

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#C2C5C8;
    

}

#btn-consulta{
    display: flex;
    flex-direction: column;
    

}

#date{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#C2C5C8;
    
}

#img{ 
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;

}

#exp{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    color: #C2C5C8;
}

#newDATE { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}